.content {
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
}

.buttons{
    margin: 10px;
}

.buttons button{
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #6ABBF8;
}

button a{
    text-decoration: none;
    color: white;
}